/* import 'Inter', 'Manrope', 'Poppins', 'Roboto' font-families */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES START */
:root {
    /* horizontally center value for margin */
    --horizontally-center: 0 auto;

    /* primary text color */
    --text-color-primary: #3A3A3A;
    
    /* theme color */
    --theme-color: #E02C6D;
}
/* VARIABLES END */


/* FONT-FAMILY CLASSES START */
/* Roboto */
.roboto-ff {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Poppins */
.poppins-ff {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Manrope */
.manrope-ff {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Inter */

.inter-ff {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* FONT-FAMILY CLASSES END */


/* CSS RESET START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* CSS RESET END */


/* UTILITY CLASSES START */
.max-width-primary {
    max-width: 1200px;
    margin: var(--horizontally-center);
}

.max-width-secondary {
    max-width: 110px;
    margin: var(--horizontally-center);
}

.nowrap {
    white-space: nowrap;
}
/* UTILITY CLASSES END */


/* SHARED STYLES START */
.btn-primary {
    font-weight: bold;
    color: white;
    background-color: var(--theme-color);
    padding: 0.625rem 1.5rem;
    border: none;
}
/* SHARED STYLES END */


/* BODY STYLES START*/
body {
    padding: 0 1rem;
}
/* BODY STYLES END */


/* MAIN STYLES START */
main > section {
    margin: 6.25rem auto;
}
/* MAIN STYLES END */


/* NAVBAR STYLES START */
header {
    padding: 3.25rem 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-hamburger-btn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-primary);
}

#nav-links-container {
    list-style-type: none;
    display: flex;
    gap: 2.125rem;
}

.nav-link,
.nav-link:visited {
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color-primary)
}

.nav-icon {
    font-size: 1.5rem;
}
/* NAVBAR STYLES END */



/* HERO SECTION STYLES START */
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-title {
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--text-color-primary);
    line-height: 4.375rem;
    margin-bottom: 1rem;
}

#hero-description {
    max-width: 31.5625rem;
    font-weight: 600;
    color: var(--text-color-primary);
    margin-bottom: 1rem;
}

#hero-btn {
    border-radius: 2.5625rem;
}

.hero-icon {
    margin: 0 0.5rem;
}

#hero-img-container {
    width: 40%;
    position: relative;
}

#hero-img-circle {
    width: 100%;
    height: auto;
}

#hero-img-camera {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0rem;
}
/* HERO SECTION STYLES END */


/* RESPONSIVE LAYOUT STYLES */
/* small devices */
@media screen and (max-width: 576px) {
    #navbar-hamburger-btn {
        display: block;
    }
    
    #nav-links-container li:nth-child(-n + 5) {
        display: none;
    }

    #hero {
        flex-direction: column;
        row-gap: 0.875rem;
    }

    #hero-img-container {
        order: -1;
        width: 80%;
    }

    #hero-content {
        text-align: center;
    }

    #hero-title {
        font-size: 1.75rem;
        line-height: normal;
        margin-bottom: 0.9375rem;
    }

    #hero-description {
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
    }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #navbar-hamburger-btn {
        display: block;
    }

    #nav-links-container li:nth-child(-n + 5) {
        display: none;
    }

    #hero {
        flex-direction: column;
        row-gap: 0.875rem;
    }

    #hero-img-container {
        order: -1;
        width: 50%;
    }

    #hero-content {
        text-align: center;
    }

    #hero-title {
        line-height: normal;
        margin-bottom: 0.9375rem;
    }

    #hero-description {
        margin-bottom: 1.25rem;
    }
}